
.section-falcon9 {
  background-color: transparent;
  color: #FFF;
  margin: 0 auto;
  width: 100vw;
}

.feature-image {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Feature images of pages */
.f9-feature-image {
  background-image: url("../images/falcon-9/f9_feature.webp");
}
.fh-feature-image {
  background-image: url("../images/falconheavy/fh_feature.webp");
}
.dragon-feature-image {
  background-image: url("../images/dragon/dragon_feature.webp");
}

/* Starship img */
.starship-feature-image {
  background-image: url("../images/starship/STARSHIP_SN15_Desktop.webp");
}

.starship-video {
  background-image: url("../images/starship/starship_video.webp");
}

.landing-on-mars {
  background-image: url("../images/starship/mars_landing.webp");
}


.falcon-animates {
  /* Add animation */
}

.falcon-shadowed {
  font-size: 100px;
  line-height: 85px;
  font-family: 'D-DIN Bold';
  margin-bottom: 20px;
  text-align: center;
}

.falcon-animate {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}

.container-stats {
  background-color: #000;
  color: #FFF;
  height: 246px;
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
}

.number {
  margin: 0;
  height: 140px;
  font-size: 140px;
  line-height: 140px;
  font-weight: 200;
}

.label {
  font-size: 22px;
  line-height: 32px;
}

.reveal-inner {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Reveal Inner Image */

.f9-reveal-inner {
  background-image: url("../images/falcon-9/WebsiteF9Fairings_Lines_Desktop.webp");
}

.fh-reveal-inner {
  background-image: url("../images/falconheavy/WebsiteFHFairings_Lines_Desktop.webp");
}

.dragon-reveal-inner {
  background-image: url("../images/dragon/DragonTrunk_Lines_Desktop.webp");
}

.starship-reveal-inner {
  background-image: url("../images/starship/WebsiteStarshipStack_Lines_Desktop.webp");
}

.reveal-inner-text {
  width: 520px;
  font-size: 20px;
  line-height: 38px;
  text-align: left;
}

/* Carousel */
.carousel {
  width: 100%;
  position: relative;
  padding: 30px;
}

.next {
  position: absolute;
  background-color: transparent;
  bottom: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 4;
}

.next-img {
  right: 50px;
}
.prev-img {
  left: 50px;
}

.next-disabled {
  opacity: 0.5;
}

.btn-carousel {
  background-color: transparent;
  border: none;
}

/* Pagination: circle */

button.rec-dot{
  background-color: #959597;
  border: none;
  background-color: none;
  box-shadow: none;
}

button.rec-dot:hover {
  color: none;
  background-color: none;
  box-shadow: none;
}

button.rec-dot:active, button.rec-dot:focus   {
  background-color: #FFF;
  box-shadow: none;
}

.falcon9-video {
  background-image: url("../images/falcon-9/F9_2.webp");
}

.fh-video {
  background-image: url("../images/falconheavy/fh_video.webp");
}
.dragon-video {
  background-image: url("../images/dragon/dragon_video.webp");
}

.dragon-crew {
  background-image: url("../images/dragon/dragon_humans.webp");
  position: relative;
}
.dragon-draco {
  background-image: url("../images/dragon/Draco.webp");
}
.dragon-superdraco {
  background-image: url("../images/dragon/SuperDraco.webp");
}

.dragon-crew-text {
  position: absolute;
  right: 0;
  top: 0;
  width: 520px;
  padding-top: 80px;
  padding-right: 50px;
  text-align: left;
}

.dragon-crew-text-big {
  font-size: 46px;
  line-height: 50px;
  font-family: 'D-DIN Bold';
  margin-bottom: 20px;

}

.dragon-crew-text-small {
  font-size: 16px;
  line-height: 25.6px;
  margin-bottom: 47px;
}

.btn-swipe {
  font-family: 'D-DIN';
  font-weight: 700;
  background-color: transparent;
  height: 50px;
  width: 168px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #FFF;
  letter-spacing: 0.75px;
}

.btn-swipe:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transform-origin: right top;
  transition: transform 0.25s ease-out;
}

.btn-swipe:hover:after {
  transform: scaleY(1);
  transform-origin: right bottom;
}

.btn-swipe:hover .btn-swipe-text {
  color: #000;
  transition: color 0.25s ease-in-out;
}

.btn-swipe-text {
  z-index: 3;
  color: #FFF;
  transition: color 0.25s ease-in-out;
}



.side-img {
  position: relative;
  height: 100vh;
  width: 58%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.side-img-dragon {
  background-image: url('../images/dragon/parachute.webp');
}

.btn-play {
  position: absolute;
  width: 35px;
  top: 50%;
  left: 52%;
  transition: all 0.27s linear;
  
}

.side-img-dragon:hover .btn-play-hover {
  transform: scale(0.8);
}

.video-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 94px;
  text-align: left;
}

.falcon9-video-text {
  font-size: 20px;
  line-height: 32px;
}
.falcon9-video-label {
  width: 468px;
  font-size: 48px;
  line-height: 48px;
  font-family: 'D-DIN Bold';
}

.video-and-text {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.v-and-t-text {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 34px;
}

.text-big {
  font-size: 46px;
  line-height: 50px;
  font-family: 'D-DIN Bold';
  margin-bottom: 20px;
}

.text-small {
  font-size: 16px;
  line-height: 25.6px;
}

.section-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-center {
  height: 137px;
  width: 1px;
  background-color: #FFFFFF;
  margin-bottom: 50px;
  margin-top: 75px;
}

.section-footer-a {
  width: 544px;
  padding: 0 68px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #696969;
  margin-bottom: 17px;
}

.section-footer-a a {
  text-decoration: none;
  color: #FFF;
  transition: opacity 0.37s ease;
}

.section-footer-a a:hover {
  opacity: 0.7;
}


.section-btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 75px;
}

.btn-download {
  font-family: 'D-DIN';
  font-weight: 700;
  background-color: transparent;
  height: 50px;
  padding: 0 15px;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 13px;
  line-height: 50px;
  border: 2px solid #FFF;
  letter-spacing: 0.75px;
  color: #FFF;
  text-align: center;
  z-index: 5;
}

.btn-download:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transform-origin: right top;
  transition: transform 0.25s ease-out;
}

.btn-download:hover:after {
  transform: scaleY(1);
  transform-origin: right bottom;
}

.btn-download:hover .btn-download-text {
  color: #000;
  transition: color 0.25s ease-in-out;
}

.btn-download-text {
  z-index: 3;
  color: #FFF;
  transition: color 0.25s ease-in-out;
}

/* Starship Description */

.starship-desc {
  width: 100%;
  background-color: #000;
  padding: 115px 50px;
  display: flex;
  flex-direction: row;

}
.starship-desc-left {
  margin-right: 30px;
}
.starship-desc-right {
  margin-left: 30px;
}
.starship-desc-text {
  margin-bottom: 15px;
  line-height: 25.6px;
}

.raptor {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.raptor-img-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.raptor-img {
  background-image: url('../images/starship/Raptor.webp');
}

.raptor-text {
  position: absolute;
  padding: 0 50px;
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  z-index: 2;
}

.dragon-crew-text-medium {
  font-size: 15px;
  line-height: 20px;
  font-family: 'D-DIN Bold';
  margin-bottom: 5px;
}

.raptor-values {
  width: 100%;
  height: 58px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.raptor-divider {
  height: 1px;
  width: 100%;
  background-color: #515150;
}

/* 1st private lunar mission */
.private-lunar {
  height: 100vh;
  width: 58%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.private-lunar-img {
  background-image: url('../images/starship/private_lunar_mission.webp');
}


@media (max-width: 1184px) {
  .reveal-inner-text {
    width: 420px;
  }

  .falcon9-video-text {
    bottom: 188px;
    line-height: 32px;
  }
  .falcon9-video-label {
    width: 378px;
    bottom: 85px;
    font-size: 48px;
    line-height: 48px;
    font-family: 'D-DIN Bold';
  }

  .dragon-crew-text {
    width: 420px;
  }

  .raptor-text {
    width: 420px;
  }

}

@media (max-width: 944px) {
  .falcon-shadowed {
    font-size: 69px;
    line-height: 65px;
  }

  .falcon-animate {
    font-size: 15px;
    line-height: 20px;
    font-family: 'D-DIN Bold';
  }

  .container-stats {
    width: 100%;
    padding-left: 47px;
    padding-right: 47px;
  }

  .number {
    font-size: 72px;
    line-height: 72px;
    height: 72px;
  }

  .label {
    font-size: 12px;
    margin-top: 0;
  }

  .reveal-inner {
    justify-content: center;
  }

  .reveal-inner-text {
    width: 420px;
    font-size: 16px;
    line-height: 25px;
  }

  .next {
    height: 15px;
    bottom: 120px;
  }
  .prev-img {
    left: 100vw;
    transform: translateX(-80px);
  }

  .next-img {
    right: 20px;
  }

  button.rec-dot {
    opacity: 0;
  }

  .falcon9-video-text {
    font-size: 15px;
    line-height: 20px;
    font-family: 'D-DIN Bold';
  }

  .falcon9-video-label {
    width: 378px;
  }

  .v-and-t-text {
    padding-left: 5px;
  }

  .text-big {
    font-size: 36px;
    line-height: 36px;
  }

  .dragon-crew-text-big {
    font-size: 36px;
    line-height: 36px;
  }

  .dragon-crew-text-big {
    margin-bottom: 15px;
  }

  .dragon-crew-text-small {
    margin-bottom: 32px;
  }
}


@media (max-width: 784px) {
  .video-and-text {
    flex-direction: column;
    height: auto;
    padding: 0 20px;
  }

  .v-and-t-text {
    width: 100%;
    margin-top: 65px;
  }

  .text-big {
    width: 420px;
    margin-bottom: 15px;
  }

  .text-small {
    width: 420px;
  }

  .video-and-text-dragon {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .side-img-dragon {
    width: 100%;
    height: 60vh;
    margin-top: 50px;
    margin-right: 20px;
  }

  .private-lunar {
    width: 100%;
    margin-right: 20px;
  }
  .video-and-text {
    margin-bottom: 50px;
  }

}

/* For starship desc */
@media (max-width: 684px) {
  .starship-desc {
    flex-direction: column;
  }

  .starship-desc-left {
    margin-right: 0;
  }

  .starship-desc-right {
    margin-left: 0;
  }
}



@media (max-width: 584px) {
  .number {
    font-size: 48px;
    line-height: 55px;
    height: 55px;
  }

  .label {
    font-size: 12px;
    line-height: 14px;
  }

  .section-footer-a {
    width: 347px;
    padding: 0;
  }

  .section-btn {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
  }

  .btn-download {
    width: 100%;
    margin: 9px 0;
  }

  .reveal-inner-text {
    width: 200px;
  }

  .falcon9-video-label {
    width: 443px;
    font-size: 36px;
    line-height: 36px;
  }

  .dragon-crew-text {
    width: 100%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .raptor {
    flex-direction: column;
    height: 200vh;
  }

  .raptor-text {
    width: 100%;
    padding-right: 50px;
    margin-top: 100vh;
  }
}

@media (max-width: 450px) {
  .section-btn {
    padding: 0 40px;
  }

  .falcon9-video-label {
    width: auto;
  }

  .v-and-t-text {
    width: auto;
  }

  .text-big, 
  .text-small {
    width: auto;
  }

  .private-lunar {
    height: 70vh;
    margin: 0 20px;
  }
}

