@font-face {
  font-family: 'D-DIN Bold';
  src: url('../fonts/D-DIN-Bold.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

.section {
  width: 100vw;
}

.section-inner {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-left: 50px;
  padding-bottom: 102px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
}

.section-1 {
  background-image: url("../images/home/globalstar.jpg");
} 
.section-2 {
  background-image: url("../images/home/sarah-1-mission.jpg");
} 
.section-3 {
  background-image: url("../images/home/update.jpg");
} 
.section-4 {
  background-image: url("../images/home/starship.png");
} 

.animates {
  /* For animation */
}

.animate {
  font-family: 'D-DIN';
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  margin-bottom: -40px;
}

.shadowed {
  font-family: 'D-DIN Bold';
  font-size: 48px;
  line-height: 48px;
  width: 468px;
  margin-bottom: 32px;
  
}

/* btn swipe bottom top */

.btn-swipe {
  font-family: 'D-DIN';
  font-weight: 700;
  background-color: transparent;
  height: 50px;
  width: 168px;
  margin-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  border: 2px solid #FFF;
  letter-spacing: 0.75px;
}

.btn-swipe:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  transform-origin: right top;
  transition: transform 0.25s ease-out;
}

.btn-swipe:hover:after {
  transform: scaleY(1);
  transform-origin: right bottom;
}

.btn-swipe:hover .btn-swipe-text {
  color: #000;
  transition: color 0.25s ease-in-out;
}

.btn-swipe-text {
  z-index: 3;
  color: #FFF;
  transition: color 0.25s ease-in-out;
}

.scrollme {
  position: absolute;
  width: 33px;
  left: 48%;
  bottom: 60px;
  z-index: 5;
  animation-name: scrollme;
  animation-duration: 3.2s;
  animation-iteration-count: infinite;
}


@keyframes scrollme {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(0px);
    opacity: 1;
  }
  

  50% {
    transform: translateY(10px);
    opacity: 1;
  }


  80% {
    transform: translateY(10px);
    opacity: 1;
  }

  90% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes innerLeftBottom {
  0% {
    transform: translateY(5px);
  }

  0% {
    transform: translateY(0px);
  }
}

/* Hide scrollme arrow when w < 900px */
@media (max-width: 900px) {
  .scrollme {
    visibility: hidden;
  }
}

@media (max-width: 960px) {
  .section-inner {
    padding-bottom: 98px;
  }
  
  .shadowed {
    width: 378px;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 14px;
  }

  .animate {
    font-size: 16px;
    line-height: normal;
  }

} 


@media (max-width: 600px) {
  .section-inner {
    width: 100vw;
    padding-bottom: 71px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .shadowed {
    width: 250px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 14px;
  }

  .animate {
    margin-bottom: -20px;
  }
} 
