
.overview {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.overview-f9 {
  background-image: url("../images/falcon-9/WebsiteF9Fairings_Render_Desktop.webp");
}

.overview-fh {
  background-image: url("../images/falconheavy/WebsiteFHS1Legs_Render_Desktop.webp");
}
.overview-dragon {
  background-image: url("../images/dragon/DragonTrunk_Render_Desktop.webp");
}

.overview-text {
  position: absolute;
}

.first-overview {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.first-overview-img {
  background-image: url("../images/falcon-9/WebsiteF9S1_Render_Desktop.webp");
}
.first-engines-img {
  background-image: url("../images/falcon-9/WebsiteF9Engines_Render_Desktop.webp");
}
.first-landing-img {
  background-image: url("../images/falcon-9/WebsiteF9S1Legs_Render_Desktop.webp");
}

.fh-first-overview-img {
  background-image: url("../images/falconheavy/WebsiteFHFairings_Render_Desktop.webp");
}
.fh-first-engines-img {
  background-image: url("../images/falconheavy/WebsiteFHEngines_Render_Desktop.webp");
}
.fh-first-landing-img {
  background-image: url("../images/falconheavy/WebsiteFHS1Legs_Render_Desktop.webp");
}

.second-stage {
  background-image: url("../images/falcon-9/WebsiteF9S2_Render_Desktop.webp");
}
.fh-second-stage {
  background-image: url("../images/falconheavy/WebsiteFHS2_Render_Desktop.webp");
}

.interstage {
  background-image: url("../images/falcon-9/WebsiteF9Interstage_Render_Desktop.webp");
}

.fh-interstage {
  background-image: url("../images/falconheavy/WebsiteFHInterstage_Render_Desktop.webp");
}
.payload-fairing {
  background-image: url("../images/falcon-9/WebsiteF9SoloFairings_Render_Desktop.webp");
}
.payload-dragon {
  background-image: url("../images/falcon-9/WebsiteF9SoloDragon_Render_Desktop.webp");
}
.fh-payload {
  background-image: url("../images/falconheavy/WebsiteFHSoloFairings_Render_Desktop.webp");
}

/* BG image for merlin */
.merlin-sea-level {
  background-image: url("../images/falcon-9/Merlin.webp");
}

.merlin-vacuum {
  background-image: url("../images/falcon-9/MerlinVac.webp");
}

.dragon-trunk {
  background-image: url("../images/dragon/Trunk_Render_Desktop.webp");
}
.dragon-capsule-overview-img {
  background-image: url("../images/dragon/Dragon_Render_Desktop.webp");
}
.dragon-capsule-launch-img {
  background-image: url("../images/dragon/DragonEscape_Desktop.webp");
}
.dragon-capsule-attitude-img {
  background-image: url("../images/dragon/DragonDraco_Desktop.webp");
}

.overview-text-1 {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
}

.overview-text-2 {
  font-size: 48px;
  line-height: 48px;
  font-family: 'D-DIN Bold';
  margin-bottom: 30px;
}

.overview-values {
  width: 520px;
  height: 58px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.label {
  font-size: 14px;
  line-height: 18px;
  font-family: 'D-DIN Bold';
}

.value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  width: fit-content;
}

.overview-text-primary {
  color: #868686;
}

.overview-divider {
  height: 1px;
  width: 520px;
  background-color: #515150;
}

/* First Stage styles */

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
  padding-left: -10px;
}

.btn-slide {
  width: fit-content;
  background-color: transparent;
  color: #838383;
  font-size: 18px;
  line-height: 26px;
  font-family: 'D-DIN Bold';
  border: none;
  cursor: pointer;
}

.btn-slide:hover {
  color: #FFF;
  transition: color 0.35s ease;
}

.active {
  color: #FFF;
}

.vertical-line {
  font-size: 16px;
  font-weight: 600;
  padding: 0 14px;
  color: #838383;
}

.first-stage-desc {
  width: 442px;
  font-size: 16px;
  line-height: 25.6px;
  margin-bottom: 15px;
  text-align: left;
}

.btn-reusability {
  font-size: 16px;
  font-family: 'D-DIN Bold';
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-right img {
  height: 10px;
  padding-left: 3px;
  transition: transform 0.27s ease;
}

.btn-reusability:hover .arrow-right img {
  transform: translateX(3px);
}


@media (max-width: 1184px) {
  .overview-values {
    width: 420px;
  }

  .overview-divider {
    width: 420px;
  }
}
@media (max-width: 944px) {
  .overview-values {
    opacity: 0;
    width: 0;
  }

  .overview-divider {
    opacity: 0;
    width: 0;
  }

  .btn-reusability {
    opacity: 0;
    width: 0;
  }

  .buttons {
    opacity: 0;
    width: 0;
  }

  .first-stage-desc {
    opacity: 0;
    width: 0;
  }

  .overview {
    justify-content: flex-end;
  }

  .overview-text-1 {
    position: absolute;
    bottom: 55px;
    font-size: 15px;
    line-height: 20px;
    font-family: 'D-DIN Bold';
  }
  .overview-text-2 {
    position: absolute;
    bottom: -18px;
  }

  .text-grid {
    opacity: 0;
    width: 0;
  }
}

@media (max-width: 500px) {
  .overview-text-1 {
    font-size: 15px;
    left: 30px;
    width: 50%;
  }

  .overview-text-2 {
    font-size: 32px;
    left: 30px;
  }
}